<%- include('../../layout/head.ejs')  %>

<body class="books-detail">


    <%- include('../../layout/header.ejs') %>

    <main>
        <header>
                <h2>books detail page</h2>
        </header>

        <% console.log(data) %>
        
        <img class="cover-image" src="<%= book.imgUrl %>" />
        <h2 class="title"><%= book.title %></h2>
        <h4 class="author">by <%= book.author %></h4>
        <p class="isbn"><%= book.isbn %></p>
        <p class="description"><%= book.description %></p>

    </main>

    <%- include('../../layout/footer.ejs') %>

</body>

</html>