<%- include('../../layout/head.ejs')  %>

<body class="show-searches">

    <%- include('../../layout/header.ejs') %>

    <main>
        <ul id="book-search-results-list" class="book-grid">

            <% 
            console.log(data); 
            data.forEach(book => { %>
            <li class="book-result">
            <img class="cover-image" src="<%= book.image_url %>" />
            <h4 class="title"><%= book.title %></h4>
            <h5 class="author">by <%= book.author %></h5>
            <p class="descriptions"><%= book.descriptions %></p>
            <a class="save button-secondary" href="/books/save/<%= book.tempId %>">+ Add to my bookshelf</a>
            </li>

            <% }) %>
        </ul>
    </main>

    <%- include('../../layout/footer.ejs') %>

</body>

</html>