<%- include('../layout/head.ejs')  %>

<body class="front-page">

    <%- include('../layout/header.ejs') %>


    <main>


        <section id="my-bookshelf">
            
            <header>
                <h2>My bookshelf</h2>
                <p class="total-count">Total books: <%= data.length %></p>
            </header>


            <ul id="bookshelf-list" class="book-grid">

                <% 
                        console.log(data); 
                        data.forEach(book => { %>
                <li class="book-result">
                    <img class="cover-image" src="<%= book.image_url %>" />
                    <h4 class="title"><%= book.title %></h4>
                    <h5 class="author">by <%= book.author %></h5>
                    <p class="descriptions"><%= book.descriptions %></p>
                    <a class="details button-secondary" href="/books/detail/<%= book.id %>">View Details</a>
                </li>
                <% }) %>
            </ul>

        </section>

    </main>

    <%- include('../layout/footer.ejs') %>

</body>

</html>